body {
  font-family: "Poppins";
  background-color: #000000;
}
.navbar {
  height: 50px;
  bottom: 0;
  right: 35%;
  left: 35%;
  align-self: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  align-items: center;
  text-align: center;
  align-content: center;
  position: fixed;
}

.navIcon {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding-top: 8px;
}

.navIcon:hover {
  color: #f9f9f9;
  background-color: #5188f5;
}

.gridContainer {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: fixed;
  overflow-y: scroll;
}

.gridContainer a {
  text-decoration: none;
}

.gridContainer ul {
  list-style: none;
}

.dtable {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 50px #ccc;
  margin: 20px;
  text-align: center;
}

.dtinput {
  font-family: "Poppins";
  font-size: 12px;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 20px;
}

.tableNo {
  color: black;
  font-weight: bold;
}

.chairNo {
  color: #316fec;
  font-weight: bold;
}

.statusTable {
  width: 70px;
  height: 10px;
}

.statusTableA {
  color: black;
  border-radius: 12px;
  background-color: #26d175;
  font-weight: 100;
}

.statusTableNA {
  color: black;
  border-radius: 12px;
  background-color: #999;
}

.notitable {
  margin-top: 10px;
}

.topNave {
  height: 50px;
  top: 0;
  right: 30%;
  left: 30%;
  overflow: hidden;
  position: fixed;
  align-self: center;
  background-color: #fff;
}

.topNave a {
  text-decoration: none;
}

.categoryName {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.itemContainer ul {
  list-style: none;
}

.title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}

.listitem {
  width: 100%;
  height: 50px;
  font-weight: bold;
}

.listitem a {
  text-decoration: none;
  color: #999;
}

.listCat {
  height: 80%;
  overflow-y: scroll;
}

.listCat ul {
  list-style: square outside none;
}

.fileInput {
  cursor: pointer;
  padding-top: 5px;
}

.imgPreview {
  text-align: center;
  height: 150px;
  width: 150px;
}

.imgPreview img {
  width: 50%;
  height: 50%;
}

.previewText {
  width: 100%;
  margin-top: 5px;
}

.centerText {
  text-align: center;
  width: 500px;
}

.datatable {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.orderItem {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 16px;
  font-family: "Poppins";
}

.tablecontainer {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.detailscontainer {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.verticalLine {
  height: 100%;
  width: 1px;
  position: absolute;
  background-color: black;
}

.logo {
  width: 100px;
  height: 100px;
  align-self: center;
}

.active {
  color: #5a3cdf;
}

/* custom scroll bar start */
::-webkit-scrollbar {
  height: 8px;
  width: 6px;
  background: #f9f9ff;
}

::-webkit-scrollbar-thumb {
  background: #f9f9ff;
  -webkit-border-radius: 4ex;
  -webkit-box-shadow: #f9f9ff;
}

::-webkit-scrollbar-corner {
  background: #f9f9ff;
}
/* custom scroll bar ends */

@media only screen and (max-width: 800px) {
  .navbar {
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .topNave {
    right: 0;
    left: 0;
  }
}

/* custom frontend ends */

.cust-title {
  font-size: 26px;
  text-align: center;
  padding-top: 35px;
  color: #b493bf;
}

.cust-img-container {
  text-align: center;
}

.banner {
  text-align: center;
}

.titleApp {
  color: "#707070";
  font-size: 18px;
  padding: 20px;
}

.catIcon {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  background-color: #fff;
  text-decoration: none;
}

.catImg {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.catName {
  font-size: 12px;
  color: #b493bf;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

.popular {
  width: 100px;
  height: 90px;
  border-radius: 25px;
  background-color: #fff;
  text-decoration: none;
}

.popImg {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.popName {
  font-size: 12px;
  font-weight: bold;
  color: #767676;
  text-align: center;
  text-decoration: none;
}

.starDiv {
  width: 70px;
  height: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.checked {
  color: #c9e48a;
}

.unchecked {
  color: #c9e48a;
  opacity: 0.5;
}

.cartDiv {
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 20;
  right: 20;
  background-color: #c9e48a;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  position: fixed;
}

.cartImg {
  padding-left: 20px;
}

.myorder {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.itemNo {
  font-size: 15px;

  color: #fff;
}

.totalC {
  font-size: 18px;

  color: #fff;
}

.close {
  position: sticky;
}

.close a {
  color: #b493bf;
  font-weight: bold;
}

.details {
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  background-color: #fff;
  position: absolute;
}

.imgContainerD {
  width: 100%;
  height: 200px;
}

.favorite {
  float: right;
  padding: 20px;
  color: #b493bf;
}

.detail-title {
  font-size: 12px;
  font-weight: bold;
  color: #767676;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 20px;
}

.starDiva {
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 12px;
}

.detail-rating {
  font-size: 7px;
  font-weight: bold;
  color: #23222a;
  padding-left: 10px;
}

.detail-subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #23222a;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 20px;
}

.detail-description {
  height: 30%;
  padding: 20px;
  color: #767676;
  overflow-y: scroll;
  font-size: 14px;
}

.btna {
  width: 100%;
  background-color: #ff5763;
  color: #ffffff;
}

.btn-addorder {
  bottom: 10;
  padding: 20px;
}

.backToCat {
  position: fixed;
}

.backToCat a {
  color: #000000;
  font-size: 24px;
  text-decoration: none;
}

.counter {
  width: 100%;

  left: 50;
  right: 50;
  align-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.number {
  font-size: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f9f9ff;
}

.btnp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #00daac;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

.btnm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #ff5763;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

.orderO {
  padding-top: 40px;
  width: 100%;
  height: 50%;
  overflow-x: hidden !important;
}

.orderT {
  height: 30%;
  padding-top: 20px;
  left: 0;
  right: 0;
  border-style: solid;
  border-color: #767676;
  border-radius: 6px;
}

.btnPay {
  width: 100%;
  left: 10;
  right: 10;
  height: 50px;
  background-color: #ff5763;
  border-radius: 16px;
  color: #fff;
  margin-top: 20px;
}

.orderTitle {
  height: 120px;
  width: 100%;
  left: 20;
  right: 20;
  margin-top: 20px;
  top: 20px;
  border-radius: 16px;
}

.nameOrder {
  font-size: 18px;
  color: #767676;
  padding-left: 20px;
}

.ordertotal {
  font-size: 18px;
  color: #b493bf;
  padding-left: 20px;
  padding-top: 10px;
}

.ordertotaln {
  font-size: 18px;
  color: #ff5763;
  padding-left: 10px;
}

.ordertotaltaxN {
  font-size: 18px;
  color: #c9e48a;
  padding-left: 10px;
}

.ordertotalG {
  font-size: 18px;
  color: #b493bf;
  padding-left: 10px;
}

.ordertotalGN {
  font-size: 18px;
  color: #ff5763;
  padding-left: 10px;
}

.itemContainer {
  left: 0;
  right: 0;
  height: 100%;
  padding-top: 40px;
  overflow-x: hidden !important;
}

.itemCard {
  left: 0;
  right: 0;
  top: 0;
  padding-left: 20px;
  height: 200px;
  border-radius: 18px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.itemImage {
  width: 120px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.itemsName {
  font-size: 15px;
  color: #767676;
  text-align: center;
  text-decoration: none;
  margin-top: 50px;
}

.itemsPrice {
  color: #b493bf;
  text-align: center;
  text-decoration: none;
}
